@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body
{
    height: 100%;
    line-height: 2;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #0093E9;
    background-image: linear-gradient(60deg, rgba(130,130,130,1) 60%, rgba(210,215,211,1) 100%);
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

#card {
    width: 400px;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(130,130,130,1) 59%, rgba(210,215,211,1) 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 2s ease, -moz-transform 2s ease;
    -webkit-transition: opacity 2s ease, -webkit-transform 2s ease;
    -ms-transition: opacity 2s ease, -ms-transform 2s ease;
    transition: opacity 2s ease, transform 2s ease;
}

@media screen and (max-width: 480px) {
    #card {
        width: 100%;
    }
}

body.is-preload #card {
    -moz-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
}

#header {
    display: block;
}

#profile {
    padding: 50px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    display: block;
}

#profile h1{
    font-size: 1.1em;
    line-height: 1.4;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
}

#profile p {
    font-size: 0.7em;
    line-height: 1.4;
    letter-spacing: 0.22em;
    margin-bottom: 0.2em;
}

#profile_img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#profile_img img {
    width: 200px;
    height: 200px;
    margin-left: -5px;
}

#social {
    background-color: #D2D7D3;
    height: 50px;
    border-radius: 15px;
    display:block;
    width: 100%;
}

.box {
    width: 33.333333%;
    height: 50px;
    float: left;
    color: rgba(2,0,36,1);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.box a {
    color: gray;
    text-decoration: none;
}

.box:hover a {
    color: white;
}
.box:hover{
    background-color: blueviolet;
    color:white;
}

#gh {
    text-transform: capitalize;
}

#em {
    text-transform: capitalize;
}

#xing{
    text-transform: uppercase;
}

@media screen and (max-width: 400px) {
    .box span{
        display: none;
    }
    .box i{
        font-size: 20pt;
    }
}

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
}

#wrapper:before{
    content: '';
    display: block;
}
